<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Node JS Quick Start</title>
    <link rel = "stylesheet" type = "text/css" href = "style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <br/>
    <h1>Node JS quick start code.</h1>
    <br/>
    <a href="https://github.com/puneeth-techie/nodeJS-quickstart-boilerplate">
        <i style="font-size:48px; color: black;" class="fa">&#xf09b;</i>
    </a>
    <div class="container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js-1024x538.png" alt="Avatar" style="width:600px;height:300px;">
                </div>
                <div class="flip-card-back">
                    <img class="rounded-circle" src="https://lh3.googleusercontent.com/-hD108P9Uor0/Xg2MOSfaRMI/AAAAAAAAAZ4/LtrNZ_9AwMcbg8RdujQ0mNDX4nYNxVASQCEwYBhgLKtQDAL1OcqzyX6Fy0o5i0_cUOrOGAwK9kv6dUb6wks-TakTA1tPxFw_e0qvcHqFJQWYBcEZb8MGUbV0UPLV7BuNlaYep5qDtUF7lECxNSaNJrReDGBmmQvONF6MDIyI8wVpvHEuTh0tZ8qmKjzrcaTA-IgxyizlCC7EajkENP4wLOmCLCedORmpK6najjKW7jiUM9kMqnPR4aBb1zgXE14qZjUqVF12Q6ESfTNyj_YCFYnyYjrqV4jdmde-_DyxTk75lopGrEt2FQNJNwKkGJCFMCnTmSlDZdUIHuiBqomVZpvlhq9duK017qBDKRMt729aU66e6gZ2qeIJH6bi-aS761ttRoSIQ1qT5R6vA9Bk5372PaIAlZI6fC-MDoepZbodZXeY7-aRzHQ2mZ3lDtuz_GNyssMfqVcH2ODu-rjwkNsYsbxLZmVlNIuBOeROdIvevZOMzfr0ZCX3mk77THnHLK2QjkhWcDOzbY01Y0cxGpLHspJW0q7R2lu891R0ddQhk7UOjbkvmXgwLXhldFKI97iDR0gsROL-fvt4oHhl98ZPkN-teZt5nvzuPHQyVu19jMLywoMWkcvrwLznNaludxKcNllytEbGsie9k3OgL6U0g1O9VMJvDy4MG/w140-h140-p/2020-01-01.jpg" alt="puneeth-techie">
                    <h1>Puneeth P Gowda</h1> 
                    <h4>Software Engineer</h4>
                    <a href="https://github.com/puneeth-techie">
                        <i style="font-size:48px; color: black; margin-right: 60%;" class="fa">&#xf09b;</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>
